---
interface Props {
	date: Date | string | undefined;
}

const { date } = Astro.props;
const parsedDate = date instanceof Date ? date : new Date(date ?? '');
---

{parsedDate.toString() !== 'Invalid Date' ? (
<time datetime={parsedDate.toISOString()}>
    {parsedDate.toLocaleDateString('en-us', {
        year: 'numeric',
        month: 'short',
        day: 'numeric',
    })}
</time>
    ) : (
<span>Invalid date</span>
    )}
