<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a> |
        <a href="/blog">Blog</a> |
        <a href="/journal">Journal</a> |
        <a href="/research">Research</a> |
        <a href="/projects">Projects</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>